<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
		<header>
			<h1>NBA Playoffs Wiki</h1>
			<nav>
				<div class="w3-bar w3-black">
					<a href="/" class="w3-bar-item w3-button w3-hover-red">Home</a>
					<a href="/teams" class="w3-bar-item w3-button w3-hover-red">Teams</a>
					<a href="/players" class="w3-bar-item w3-button w3-hover-red">Players</a>
				</div>
			</nav>
		</header>
		<main class ="court">
			<img src="http://cubtab.com/daut/as/f/t/the-basketball-court-thinglink_basket-court_home-decor_affordable-home-decor-decorators-catalog-decorating-ideas-decore-coupon-code-fleur-de-lis-magazines-stores-yosemite.png" alt="">
			<div class="teamlogo">
				<% for(var i = 0; i < teams.length; i++){ %>
					<a href="/teams/<%=teams[i]._id%>"><img src="<%=teams[i].img%>"</a>
				<% } %>
			</div>
		</main>
	</body>
</html>
