<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
	</head>
	<body>
		<header>
			<h1>Create a Team</h1>
			<nav>
				<div class="w3-bar w3-black">
					<a href="/" class="w3-bar-item w3-button w3-hover-red">Home</a>
					<a href="/teams" class="w3-bar-item w3-button w3-hover-red">Teams</a>
					<a href="/players" class="w3-bar-item w3-button w3-hover-red">Players</a>
				</div>
			</nav>
		</header>
		<main>
			<form action="/teams" method="post">
				<input type="text" name="location" placeholder="location"/><br/>
             	<input type="text" name="name" placeholder="name"/><br/>
				<input type="text" name="conference" placeholder="conference"/><br/>
                <input type="text" name="record" placeholder="record" /><br/>
                <input type="text" name="championships" placeholder="championships"/><br/>
				<input type="text" name="img" placeholder="image URL"/><br/>
                <input type="submit" value="Add Team"/>
			</form>
		</main>
	</body>
</html>
