<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=comments.title%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<%=comments.body%>
			</section>
			<section>
			    <form action="/comments/<%=comments._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete Comment"/>
			    </form>
			</section>
			<section>
			    <a href="/comments/<%=comments._id%>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>
