<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
	</head>
	<body>
		<header>
			<h1>NBA Playoffs Wiki</h1>
			<nav>
				<div class="w3-bar w3-black">
					<a href="/teams" class="w3-bar-item w3-button w3-hover-red">Teams</a>
					<a href="/players" class="w3-bar-item w3-button w3-hover-red">Players</a>
				</div>
			</nav>
		</header>
		<main>
			<div class="bottom">
				<img src="https://s-media-cache-ak0.pinimg.com/originals/b1/73/2d/b1732db3ecf93618c9bee0e3b7cd7373.jpg" alt="">
			</div>
		</main>
	</body>
</html>
